obj/
bin/
python_run/.vs/python_run/DesignTimeBuild/.dtbcache.v2
python_run/.vs/python_run/v16/.suo
python_run/.vs/python_run/v16/TestStore/0/000.testlog
python_run/.vs/python_run/v16/TestStore/0/testlog.manifest
